#clustrmaps-container {
    margin: 0 auto 10px auto; /* 上方和两侧为 0 的外边距，底部为 10px */
    width: 20%; /* 占页面宽度的 20% */
    height: auto; /* 高度根据内容自动调整 */
    background-color: rgba(255, 255, 255, 0.8); /* 半透明背景色 */
    border: 1px solid #ccc; /* 可选：为地图添加边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 可选：为地图添加阴影 */
    overflow: hidden; /* 确保内容不溢出 */
    text-align: center; /* 确保内容居中 */
}

#clustrmaps-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
